.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  color: #fff;
  padding: 15px 30px;
}

.nav-logo {
  height: 30px;
  margin-right: 15px;
}

.navbar button {
  background: white;
  color: black;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}